<h1>Register for a new Postcards Account</h1>
<p>It's fun!</p>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit "Register", class: "btn btn-lg btn-primary" %>
<% end %>
