<!DOCTYPE html>
<html>
<head>
  <title>Postcards</title>
<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">

    <div class="row">

      <div class="col-xs-6">
        <%= link_to 'Home', root_path %>
        <%= link_to 'New Postcard', new_postcard_path, class: 'btn btn-default' %>
      </div>

      <div class="col-xs-6 header-right">
        <% if @current_user.present? %>
          <strong>Hi <%= @current_user.name %></strong>
          <%= link_to 'Sign Out', sign_out_path, method: :delete %>
        <% end %>
      </div>

    </div>

  </div>
</header>

<div class="flashes">

  <% if notice.present? %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
